@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
html {
  scrollbar-width: normal;
  scrollbar-color: #0f172a #0099ff;
}
html::-webkit-scrollbar {
  width: 10px;
  border-radius: 3px;
}
html::-webkit-scrollbar-thumb {
  border-radius: 3px;
  height: 70px;
  background-color: #0f172a;
}
html::-webkit-scrollbar-track {
  opacity: 0.6;
  background-color: #0099ff;
}
body {
  background-color: #0f172a;
}
/* Light Mode */
.light-mode {
  background-color: white;
}
body.light-mode #about,
body.light-mode #contact,
body.light-mode #footer {
  background-color: rgb(241 245 249);
}
body.light-mode #contact .contact h4 {
  color: #0f172a;
}
body.light-mode .line {
  background-color: #0f172a;
}

/* Navbar */
#nav {
  position: sticky !important;
  top: 0;
  z-index: 1001;
}
.navbar {
  background-color: #0f172a;
}
.navbar a {
  transition: 0.4s;
  text-transform: uppercase;
  color: rgb(56 189 248 / 1);
}
.navbar a:hover {
  color: white;
}
.navbar-brand span {
  font-weight: bolder;
  color: white;
}

/* Toggle dark mode */
.switch {
  --button-width: 3.5em;
  --button-height: 2em;
  --toggle-diameter: 1.5em;
  --button-toggle-offset: calc((var(--button-height) - var(--toggle-diameter)) / 2);
  --toggle-shadow-offset: 10px;
  --toggle-wider: 3em;
  --color-grey: #cccccc;
  --color-green: #4296f4;
}

.slider {
  display: inline-block;
  width: var(--button-width);
  height: var(--button-height);
  background-color: var(--color-green);
  border-radius: calc(var(--button-height) / 2);
  position: relative;
  transition: 0.3s all ease-in-out;
}

.slider::after {
  content: "";
  display: inline-block;
  width: var(--toggle-diameter);
  height: var(--toggle-diameter);
  background-color: #fff;
  border-radius: calc(var(--toggle-diameter) / 2);
  position: absolute;
  top: var(--button-toggle-offset);
  transform: translateX(var(--button-toggle-offset));
  box-shadow: var(--toggle-shadow-offset) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
  transition: 0.3s all ease-in-out;
}

.switch input[type="checkbox"]:checked + .slider {
  background-color: var(--color-grey);
}

.switch input[type="checkbox"]:checked + .slider::after {
  transform: translateX(calc(var(--button-width) - var(--toggle-diameter) - var(--button-toggle-offset)));
  box-shadow: calc(var(--toggle-shadow-offset) * -1) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
}

.switch input[type="checkbox"] {
  display: none;
}

.switch input[type="checkbox"]:active + .slider::after {
  width: var(--toggle-wider);
}

.switch input[type="checkbox"]:checked:active + .slider::after {
  transform: translateX(calc(var(--button-width) - var(--toggle-wider) - var(--button-toggle-offset)));
}

/* Banner */
#banner {
  position: relative;
  padding-top: 5%;
}
.title {
  font-weight: bold;
  margin-top: 80px;
  font-size: 3em;
}
.text-mute {
  color: gray;
}
.ban-img {
  position: relative;
  z-index: 1000;
  animation: up-down 1.5s ease-in-out infinite alternate-reverse both;
}
@-webkit-keyframes up-down {
  0% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(-20px);
  }
}
@keyframes up-down {
  0% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(-20px);
  }
}

/* About */
#about {
  padding: 80px 0;
  background-color: rgb(30 41 59);
}
.line {
  background-color: white;
  height: 4px;
  width: 10rem;
  border-radius: 50px;
  margin-bottom: 20px;
}

/* FAQS */
.question-icon {
  font-size: 2em;
  padding: 3px;
}

#faq h4 {
  font-size: 2em;
}
#faq {
  padding: 80px 0;
}
.accordion-item {
  background-color: #0f172a;
}
.accordion-button {
  color: rgb(56 189 248 / 1);
}
.accordion-body {
  color: gray;
}

/* Contact */
/* Features */
#contact {
  background-color: rgb(30 41 59);
  padding: 80px 0;
}
.contact {
  padding: 20px;
}
.contact p {
  color: gray;
}
.contact h4 {
  font-size: 20px;
  padding: 5px;
  margin-top: 25px;
  color: white;
  text-transform: uppercase;
}
.icon-contact {
  font-size: 3em;
  background-color: #0f172a;
  color: rgb(56 189 248 / 1);
  border: 1px solid rgb(56 189 248 / 1);
  height: 100px;
  width: 100px;
  padding-top: 15px;
  margin: auto;
  border-radius: 50%;
  transition: 0.7s;
}
.icon-contact:hover {
  background-color: rgb(56 189 248 / 1);
  color: #0f172a;
}
.icon {
  color: white;
}
.acontact {
  transition: 0.4s;
  border: 1px solid #01e675;
  color: #01e675;
}
.acontact:hover {
  box-shadow: 2px 4px 8px rgb(182, 182, 182);
  transform: translateY(-10px);
  background-color: #01e675;
  border: 1px solid #01e675;
  color: #fff;
}
/* Join */
#join {
  padding: 80px 0;
}
.learning-group {
  background-color: rgb(56 189 248 / 1);
  color: white;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid white;
  transition: 0.4s;
}
.learning-group:hover {
  color: white;
  background-color: rgb(0, 140, 201);
}
.special-group {
  background-color: #0f172a;
  color: white;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid white;
  transition: 0.4s;
}
.special-group:hover {
  color: white;
  background-color: rgb(56 189 248 / 1);
}

/* Footer */
#footer {
  background-color: rgb(30 41 59);
}

/* Loader */
.bg-loader {
  background-color: #0f172a;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.spinner {
  width: 44px;
  height: 44px;
  animation: spinner 2s infinite ease;
  transform-style: preserve-3d;
}

.spinner > div {
  background-color: rgba(0, 77, 255, 0.2);
  height: 100%;
  position: absolute;
  width: 100%;
  border: 2px solid #0099ff;
}

.spinner div:nth-of-type(1) {
  transform: translateZ(-22px) rotateY(180deg);
}

.spinner div:nth-of-type(2) {
  transform: rotateY(-270deg) translateX(50%);
  transform-origin: top right;
}

.spinner div:nth-of-type(3) {
  transform: rotateY(270deg) translateX(-50%);
  transform-origin: center left;
}

.spinner div:nth-of-type(4) {
  transform: rotateX(90deg) translateY(-50%);
  transform-origin: top center;
}

.spinner div:nth-of-type(5) {
  transform: rotateX(-90deg) translateY(50%);
  transform-origin: bottom center;
}

.spinner div:nth-of-type(6) {
  transform: translateZ(22px);
}

@keyframes spinner {
  0% {
    transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
  }

  50% {
    transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
  }

  100% {
    transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
  }
}
/* .bg-loader .loader {
  width: 200px;
  animation: loading 1s ease-in-out infinite alternate-reverse both;
}
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} */
